body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: honeydew;
    color: indigo;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: indigo;
}

.navbar {
    padding: 20px;
    background-color: hotpink;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar a, .navbar strong {
    margin-right: 15px;
}

.photo-section {
    display: flex;
    width: 100%;
    flex-direction: row;

}
.photo-section img {
    width: 34%;
    margin-right: 5%;
    
}

.music-section iframe {
    width: 45%;
}

main {
    padding-right: 10vw;
    padding-left: 10vw;
}